In [1]:
import pandas as pd
import numpy as np

In [2]:
# Importing csv into a dataframe
Original_df = pd.read_csv("Resources/Data_Original.csv")
Original_df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125092,ZWE,Africa,Zimbabwe,2021-10-16,132333.0,48.0,81.571,4657.0,2.0,3.000,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
125093,ZWE,Africa,Zimbabwe,2021-10-17,132368.0,35.0,81.714,4658.0,1.0,3.000,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
125094,ZWE,Africa,Zimbabwe,2021-10-18,132368.0,0.0,70.429,4658.0,0.0,2.143,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
125095,ZWE,Africa,Zimbabwe,2021-10-19,132405.0,37.0,55.571,4659.0,1.0,2.000,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
125096,ZWE,Africa,Zimbabwe,2021-10-20,132437.0,32.0,47.000,4659.0,0.0,1.571,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

In [13]:
temp_df = Original_df.groupby('continent').count().sort_values(by='total_cases', ascending=False)
temp_df.loc['Total']= temp_df.sum(numeric_only=True, axis=0)
temp_df

,iso_code,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
continent,,,,,,,,,,,,,,,,,,,,,
Africa,31621,31621,31621,31440,31440,31171,29556,29556,31171,31440,...,21048,21048,25683,23411,31621,30945,184,184,184,184
Asia,29200,29200,29200,28476,28470,28236,25436,25435,28236,28476,...,23115,23115,15163,26223,28944,28047,559,559,559,559
Europe,29240,29240,29240,27777,27776,27547,26255,26255,27547,27777,...,24353,24353,1790,26154,28167,25552,2788,2788,2788,2788
North America,16122,16122,16122,13570,13569,13454,11483,11482,13454,13570,...,7809,7220,7723,13655,16122,13655,392,392,392,392
South America,7316,7316,7316,7121,7120,7061,6961,6959,7061,7121,...,5486,4827,3549,7249,7316,7249,413,413,413,413
Oceania,5930,5930,5930,4299,4299,4244,2249,2249,4244,4299,...,3671,3671,1077,3141,5845,4530,158,158,158,158
Total,119429,119429,119429,112683,112674,111713,101940,101936,111713,112683,...,85482,84234,54985,99833,118015,109978,4494,4494,4494,4494

In [3]:
# Find total number of data sets
data_count = len(Original_df['continent'])
print(f'The total number of rows of data in this data set is {data_count}.')

# Calculate the number of rows of data with values in continent column
temp_df = Original_df.groupby('continent').count().sort_values(by='total_cases', ascending=False)
rows_with_continent_data = temp_df['date'].sum()
print(f'The total number of rows of data in this data set is with data in continent column is {rows_with_continent_data}.')

print(f'Therefore there are {data_count-rows_with_continent_data} of data not tagged with continent detail.')

The total number of rows of data in this data set is 125097.
The total number of rows of data in this data set is with data in continent column is 119429.
Therefore there are 5668 of data not tagged with continent detail.

In [14]:
# Generate list of unique continent values 
continent_list=[con for con in Original_df['continent'].unique() if pd.isnull(con) == False]
continent_list

# Remove continent/grouped data as per list "locations_to_remove"
Blank_in_continent_column_df = Original_df[Original_df['continent'].isin(continent_list)==False]
Countries_where_continent_is_blank = [x for x in Blank_in_continent_column_df.groupby('location').count().index]
print('The countries with blank data on continent column are')
print(Countries_where_continent_is_blank)
print('Therefore these data are not actually countries and these rows of data will be removed from the location column')

The countries with blank data on continent column are
['Africa', 'Asia', 'Europe', 'European Union', 'International', 'North America', 'Oceania', 'South America', 'World']
Therefore these data are not actually countries and these rows of data will be removed from the location column

In [5]:
# Remove ['Africa', 'Asia', 'Europe', 'European Union', 'International', 'North America', 'Oceania', 'South America', 'World'] from location column
remove_continent_df = Original_df[Original_df['continent'].isin(continent_list)==True]
remove_continent_df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125092,ZWE,Africa,Zimbabwe,2021-10-16,132333.0,48.0,81.571,4657.0,2.0,3.000,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
125093,ZWE,Africa,Zimbabwe,2021-10-17,132368.0,35.0,81.714,4658.0,1.0,3.000,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
125094,ZWE,Africa,Zimbabwe,2021-10-18,132368.0,0.0,70.429,4658.0,0.0,2.143,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
125095,ZWE,Africa,Zimbabwe,2021-10-19,132405.0,37.0,55.571,4659.0,1.0,2.000,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
125096,ZWE,Africa,Zimbabwe,2021-10-20,132437.0,32.0,47.000,4659.0,0.0,1.571,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

In [6]:
# The aim of this cell of code is to remove countries where there are no data for 'new_cases' and 'new_deaths'

# Group the 'remove_continent_df' dataframe by location/countries
temp_df = remove_continent_df.groupby('location').sum().sort_values(by='total_cases', ascending=True)

# create a list of countries where 'new_cases' of 'new_deaths' is 0
list_to_remove = [index for index, row in temp_df.iterrows()if (row['new_cases']==0) | (row['new_deaths']==0) ]

print(f'There are {len(list_to_remove)} countries where either there are no new cases or new deaths data')
print(f'These countries will be removed from the data set.')

# Remove countries as per list "list_to_remove"
cases_and_death_df = remove_continent_df[remove_continent_df['location'].isin(list_to_remove)==False]
cases_and_death_df.groupby('location').sum().sort_values(by='total_cases', ascending=True)
Countries_left = len(cases_and_death_df['location'].unique())

# Save as CSV
cases_and_death_df.to_csv('Resources/Data_Clean_Cases.csv')
print(f'This dataframe is saved to Resources/Data_Clean_Cases.csv')
print(f'This dataframe has rows with empty values in continent column and zero number in new cases and new deaths removed')
print(f'There are {Countries_left} countries in this CSV for analysis')

There are 38 countries where either there are no new cases or new deaths data
These countries will be removed from the data set.
This dataframe is saved to Resources/Data_Clean_Cases.csv
This dataframe has rows with empty values in continent column and zero number in new cases and new deaths removed
There are 186 countries in this CSV for analysis

In [7]:
# The aim of this cell of code is to remove countries where there are no data for 'hosp_patients' and 'icu_patients'

# Group the 'remove_continent_df' dataframe by location/countries
temp_df = cases_and_death_df.groupby('location').sum().sort_values(by='hosp_patients', ascending=True)
temp_df[['hosp_patients','icu_patients']]

# create a list of countries where 'hosp_patients' of 'icu_patients' is 0
list_to_remove = [index for index, row in temp_df.iterrows()if (row['hosp_patients']==0) | (row['icu_patients']==0) ]

print(f'There are {len(list_to_remove)} countries where either there are no hosp_patients or icu_patients data')
print(f'These countries will be removed from the data set.')

# Remove countries as per list "list_to_remove"
hosp_icu_df = cases_and_death_df[cases_and_death_df['location'].isin(list_to_remove)==False]
hosp_icu_df.groupby('location').sum().sort_values(by='total_cases', ascending=True)
Countries_left = len(hosp_icu_df['location'].unique())

# Save as CSV
hosp_icu_df.to_csv('Resources/Data_Clean_hosp.csv')
print(f'This dataframe is saved to Resources/Data_Clean_hosp.csv')
print(f'This dataframe has rows with empty values in continent column and zero number in hosp_patients and icu_patients removed')
print(f'There are {Countries_left} countries in this CSV for analysis')

There are 161 countries where either there are no hosp_patients or icu_patients data
These countries will be removed from the data set.
This dataframe is saved to Resources/Data_Clean_hosp.csv
This dataframe has rows with empty values in continent column and zero number in hosp_patients and icu_patients removed
There are 25 countries in this CSV for analysis